.main-img{
    position: absolute;
    height: 695px;
    width: 60%;
    top: 0px;
    left: 40%;
}
.main-container{
    width: 41%;
    height: 704px;
    position: absolute;
    top: -10px;
    left: -1%;
    background-color: #D5DCEC;
}
button.medico-button{
    width: 50%;
    position: relative;
    top: 185px;
    left: 26%;
    height: 50px;
    border: 0;
    border-radius: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: rgba(232, 100, 100, 0.82);
}
button.secretaria-button{
    width: 50%;
    position: relative;
    top: 230px;
    left: 26%;
    height: 50px;
    border: 0;
    border-radius: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: rgba(232, 100, 100, 0.82);
}

button.medico-button a , button.secretaria-button a{
    text-decoration: none;
    color: rgba(232, 100, 100, 0.82);
}