h1.title {
    font-weight: 500;
    font-size: 35px;
    line-height: 60px;
    width: 28%;
    position: relative;
    top: 40px;
    left: 37%;
    color: #6492E8;
}

div.data-secretaria {
    border: 1px solid;
    width: 496px;
    height: 40px;
    position: relative;
    left: 31%;
    top: 40px;
    background: rgba(158, 70, 247, 0.2);
    margin-bottom: 10px;
}

span.nombre-secretaria {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    position: relative;
    left: 35%;
}
a.edit-secretaria{
    position: relative;
    left: 85%;
    top: -28px;
    display: block;
}
div.data-secretaria  a.delete-secretaria{
    font-weight: 600;
    display: block;
    position: relative;
    left: 93%;
    top: -56px;
    color: red;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 11px;
}
div.data-secretaria a.delete-secretaria:hover{
    text-decoration: none;
    color:red;
}
button.asignar-medico{
    position: relative;
    top: 436px;
    background: #DBDBDB;
    left: 62%;
    border-radius: 31px;
    width: 15%;
    height: 50px;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: rgba(232, 100, 100, 0.82);
}
button.asignar-medico:focus,button.agregar-secretaria:focus{
    outline: 0;
}

button.agregar-secretaria{
    position: relative;
    top: 370px;
    background: #DBDBDB;
    left: 77%;
    border-radius: 31px;
    width: 19%;
    height: 50px;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: rgba(232, 100, 100, 0.82);
}
button.agregar-secretaria img{
    position: relative;
    top: -6px;
    left: -4px;
}