h1.title {
    font-weight: 500;
    font-size: 35px;
    line-height: 60px;
    width: 28%;
    position: relative;
    top: 40px;
    left: 37%;
    color: #6492E8;
}

div.data-medico {
    border: 1px solid;
    width: 496px;
    height: 40px;
    position: relative;
    left: 31%;
    top: 40px;
    background: rgba(158, 70, 247, 0.2);
    margin-bottom: 10px;
}

span.nombre-medico {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    position: relative;
    left: 35%;
}
a.edit-medico{
    position: relative;
    left: 85%;
    top: -28px;
    display: block;
}
div.data-medico  a.delete-medico{
    font-weight: 600;
    display: block;
    position: relative;
    left: 93%;
    top: -56px;
    color: red;
    width: 13px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
div.data-medico a.delete-medico:hover{
    text-decoration: none;
    color:red;
}
a.set-medico{
    text-decoration: none;
    color: black;
}
a.set-medico:hover{
    text-decoration: none;
    color: black;
}
div.medico-container{
    position: relative;
    top: 101px;
}
form{
    width: 23%;
    position: relative;
    top: -300px;
    left: 5%;
}
form button{
    margin-top: 13px;
    position: relative;
    top: -51px;
    left: 107%;
    background: #70a3ff;
    border: 0;
}
.btn-agregar-medico{
    position: relative;
    top: 357px;
    left: 80%;
    background: #DBDBDB;
    border-radius: 31px;
    width: 15%;
    height: 50px;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: rgba(232, 100, 100, 0.82);
}
.btn-agregar-medico:hover{
    color: rgba(232, 100, 100, 0.82);
    background: #DBDBDB;
}
.btn-asignar-secretaria{
    position: relative;
    left: 69%;
    width: 14%;
    top: -11px;
    height: 41px;
    border-radius: 0px;
    border: 0;
    background: black;
}
.btn-asignar-secretaria:hover{
    background: black;
}